* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(rgb(201, 201, 205), rgb(148, 200, 255));
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    margin-top: 20px;
}

.text {
    color: blueviolet;
    font-size: 1.5rem;
    font-weight: 700;
}

.underline {
    width: 50px;
    height: 4px;
    background-color: blueviolet;
    border-radius: 9px;
    margin-bottom: 20px;
}

.inputs {
    margin-top: 35px;
    display: flex;
    max-width: 1000px;
    margin: auto;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 60px;
    background: #f2f2f2;
    border-radius: 6px;
    padding: 0 15px;
}

.input img {
    margin-right: 15px;
    height: 24px;
    width: 24px;
}

.input input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-left: 15px;
    outline: none;
    color: #333;
    font-size: 16px;
}

.forgot-password {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}

.forgot-password span {
    color: blueviolet;
    cursor: pointer;
    font-weight: bold;
}

.submit-container {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
    background: #4c00b4;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #c2bbbb;
}
